@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background-color: #fdf5f5;
         font-family: "Open Sans", Arial, sans-serif;
           font-size: 14px;
            overflow: scroll;
               color: #fd9090;
}

ul {
    padding: 0;
     margin: 0;
}

li {
    background-color: #fd9090;
          box-sizing: border-box;
          text-align: center;
             display: inline-block;
             padding: 1em;
              cursor: pointer;
               width: 33.3333333%; /* Hackety hack */
               color: #ffffff;
}

.content {
    background-color: #ffffff;
           max-width: 24em;
           min-width: 16em;
}

/*
 * If content takes up full screen width, remove margins.
 */
@media (min-width: 21em) {
    .content{
        margin: .3em auto;
    }
}

.streamer {
        position: relative;
         padding: .25em 0;
           color: #fd9090;
}

.streamer:hover {
    background-color: #f8f8f8;
        border-right: .2em solid #fd9090;
}

.streamerPicture {
    border-radius: 20%;
       box-shadow: .2em .2em .1em #826464;
           margin: 0 1em 0 0;
            width: 4em;
}

/*
 * TODO: Put this in .streamerPicture if replacing search icon with font-awesome or similar
 */
img {
    vertical-align: middle;
}

.onlineColor {
    color: #9090fd;
}

.info {
    text-overflow: ellipsis;
      white-space: nowrap;
        font-size: .7em;
         position: absolute;
         overflow: hidden;
           bottom: 1em;
            width: 65%;
             left: 8em;
}

.active {
    font-weight: bold;
}

form,
main {
    border-right: .3em solid #fd9090;
         padding: .5em 0 0 .5em;
}

form {
    padding-right: .5em;
}

form>div {
    border-radius: 1em;
          padding: 0 .5em;
           border: 1px solid #ddd;
}

form img {
    width: 1em;
}

input[type="text"] {
    background-color: inherit;
              margin: 0 .3em;
              border: none;
               color: #bbb;
               width: 87%;
}

input[type="text"]:focus {
    outline: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
            outline: none;
}

.hidden {
    display: none;
}
